.wrapper {
  background-color: grey;
  margin: 0;
  list-style-type: none;
  display: flex;
  padding: 0.5rem;
  justify-content: center;
}

.item {
  background-color: white;
  margin: 0 0.25rem;
  padding: 0.25rem;
  box-shadow: 2px 2px black;
}
