.wrapper {
  background-color: grey;
  margin: 0;
  list-style-type: none;
  display: flex;
  padding: 0.5rem;
  justify-content: center;
}

.darkMode {
  position: fixed;
  padding: 1rem;
  margin: 0;

  top: 0;
  left: 0;

  width: 100%;
  height: 100%;
  background: black;
}
